numpy==2.3.0
pandas==2.3.0
pyaes==1.6.1
pyasn1==0.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
rsa==4.9.1
six==1.17.0
Telethon==1.40.0
tzdata==2025.2
transformers==4.41.2
peft==0.10.0
seqeval==1.2.2
accelerate==1.8.1
datasets==3.6.0
ipykernel==6.29.5
shap==0.48.0
lime==0.2.0.1